
```{=html}

<% for (const week of items) { %>
  <div class="week-container">
  <h4 class="week-header">Week <%= week.week %></h4>
  <div class="week-x-box">
  <div class="daily-sched">

  <% for (const day of week.days) { %>
    <div class="date-cell">
    <p><%= day['display-date'] %></p>
    </div>
    <div class="materials-cell">
    <p><span class="daily-topic"><%= day.topic %>
    <% if(day.popover) {%>
      <i class="fa-solid fa-circle-info"
      data-bs-toggle="popover"
      data-bs-trigger="hover"
      data-bs-content="<ul><% for (const line of day.popover.lines) {%><li><%= line %></li><%}%></ul>">
      </i>
    <% } %>
    </span> <br>
    <% if (day.items && day.items.length > 0) { %>
      <% for (const item of day.items) { %>
        <% if (item.publish){ %>
        <a  href="<%= item.href %>" target="_blank"
         class="btn btn-sm
          <% if(item.type == "assignment") {
                %>btn-danger<%
             } else if(item.type == "video") {
                %>btn-info<%
             } else if(item.type == "code") {
                %>btn-dark<%
             } else if(item.type == "reading") {
                %>btn-textbook<%
             } else {
                %>btn-light<%
             }%>
        ">
        <%= item.text %></a>
        <%= item.details %>
                 <% } %>
      <% } %>
    <% } %>
    </p>
    </div>
    
  <% } %>
  
  </div>
  <div class="resources">
  <p><span">Resources</span></p>
  <ul>
  <% if (week.resources && week.resources.length > 0) { %>
    <% for (const item of week.resources) { %>
      <li><a  href="<%= item.href %>" target="_blank"><%= item.text %></a></li>
    <% } %>
  <% } else { %>
    <li>None this week</li>
  <% } %>
  </ul>
  </div>
  </div>
  </div>
<% } %>
```